section {
  margin: 50px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: rgba(146, 178, 168, 0.5);
  box-shadow: 0px 0px 8px 0px #33333347;
}
